# Ignorar archivos de configuración y variables de entorno
.env

# Ignorar dependencias de Node.js
node_modules/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de log
*.log

# Ignorar el archivo de lock
package-lock.json

# Ignorar carpetas generadas automáticamente
dist/
build/
